<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen, projection" href="/res/style.css" type="text/css">
    <link rel="stylesheet" href="/res/pretify-sunburst.css" type="text/css">
    <title>{% if page.title %} {{ page.title }} &mdash; {% endif %} Echolot </title>
  </head>
  <body>
    <div class="site-content">
      <!-- <div style="margin-left:10px; margin-right:10px;"> -->
        <!-- <div style="margin-top:10px;float:bottom;position:relative;padding:10px"> -->
          <span class="navigation"> Log | Downloads | Git | Contact </span>
        <!-- </div> -->
        </br></br>
        {{ content }}
      <!-- </div> -->
    </div>
  </body>
  {% include prettify.html %}
 </html>