<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen, projection" href="/res/style.css" type="text/css">
    <link rel="stylesheet" href="/res/pretify-sunburst.css" type="text/css">
    <title>{% if page.title %} {{ page.title }} &mdash; {% endif %} Echolot-1 </title>
  </head>
  <body>
    <div class="navigation">
      <a href="http://echolot-1.github.io">Log</a> | 
      <a href="http://echolot-1.github.io/archive.html">Archive </a> |
      <a href="http://echolot-1.github.io/downloads.html"> Downloads </a> | 
      <a href="http://github.com/echolot-1"> Git </a>
    </div>
    {{ content }}
  </body>
  {% include prettify.html %}
 </html>