---
layout: default
---
<div class="content">
  <div class="post single">
    <div width=640px> 
      <table width=100%>
        <tr>
          <td> /* </td> <td> Title {{ page.title }} </td> <td> */ </td>
        </tr>
        <tr>
          <td> /* </td>
          <td>
            <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
              Date: {{ page.date | date: "%b %d, %Y" }} 
            </info>
          </td>
          <td> */ </td>
        </tr>
        <tr>
          <td> /* </td>
          <td> Category: {{ page.category }}</td>
          <td> */ </td>
        </tr>
        <tr>
          <td> /* </td>
          <td> Tags:  {{ page.tags }}</td>
          <td> */ </td>
        </tr>
      </table>
    </div>
    <div class="body">{{ content }}</div>
    <div class="breaker"></div>
  </div>
</div>
